.button {
  color: var(--button-color);
  transition: var(--button-transition);
  display: flex;
  justify-content: center;
}

.button:hover {
  transform: var(--button-hover-transform);
  cursor: pointer;
}

.img-size {
  width: var(--button-width);
  height: var(--button-height);
}
