.button {
  color: var(--button-color);
  transition: var(--button-transition);
  display: flex;
  justify-content: center;
  position: relative;
}

.button:hover {
  transform: var(--button-hover-transform);
  cursor: pointer;
}

.img-size {
  width: var(--button-width);
  height: var(--button-height);
}

.item-count {
  position: absolute;
  z-index: 10;
  width: 15px;
  height: 15px;
  border-radius: 9999px;
  right: -7px;
  top: -5px;
  font-size: xx-small;
  text-align: center;
  background-color: var(--item-background-color);
}
