.parent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.wish-button {
  position: absolute;
  left: 4px;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}

.button-parent {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  width: 80%;
}

.option {
  height: 30px;
}

.img-size {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: var(--item-background-color);
}

.wish-img {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .parent {
    flex-direction: row;
    margin-top: 10px;
  }
  .img-size {
    max-width: 45%;
    border-radius: 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    font-size: x-large;
  }
}
