.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slide {
  width: 30%;
  height: 80vh;
  background-color: var(--item-background-color);
}

@media (max-width: 640px) {
  .slide {
    width: 50%;
  }
}

.banner-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.banner {
  width: 60px;
  height: 60px;
  background-color: var(--item-background-color);
  border-radius: 1rem;
}
