.font {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  color: var(--button-color);
  transition: var(--button-transition);
}

.font:hover {
  cursor: pointer;
  transform: var(--button-hover-transform);
}
