.font {
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  color: var(--button-color);
  transition: var(--button-transition);
}

.font:hover {
  cursor: pointer;
  transform: var(--button-hover-transform);
}
