.container {
  display: flex;
  margin: 10px 10px 0;
  justify-content: space-between;
  text-align: center;
}

.sign {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  background-color: #f2f2f2;
  border-radius: 10px;
  flex: 2;
  font-weight: 800;
}
