.container {
  width: 100%;
  height: 100%;
  font-size: small;
}

.link-style {
  text-decoration: none;
  color: black;
}

.img-size {
  aspect-ratio: 1/1;
  max-width: 100%;
  background-color: #e2e2e2;
  border-radius: 1rem;
}

.brand-font {
  font-weight: 800;
}

.price-font {
  font-weight: 800;
  padding-top: 10px;
}
