.container {
  width: 100%;
  height: 100%;
  font-size: var(--detail-font-size);
}

.name-font {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-style {
  text-decoration: none;
  color: black;
}

.img-size {
  aspect-ratio: 1/1;
  max-width: 100%;
  background-color: var(--item-background-color);
  border-radius: 1rem;
}

.brand-font {
  font-weight: 800;
}

.price-font {
  font-weight: 800;
  padding-top: 10px;
}
