.button {
  color: black;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
}

.button:hover {
  transform: scale(1.4);
}

.img-size {
  width: var(--button-width);
  height: var(--button-height);
}
