.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.container-detail {
  display: flex;
  align-items: center;
}

.img-size {
  aspect-ratio: 1/1;
  max-height: 100px;
  background-color: var(--item-background-color);
  border-radius: 1rem;
}

.detail-box {
  padding-left: 10px;
}

.quantity-container {
  display: flex;
  border-radius: 3px;
  gap: 10px;
  margin-left: 5px;
}

.quantity-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
