.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--detail-font-size);
}

.container-detail {
  display: flex;
  align-items: center;
}

.name-font {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-size {
  aspect-ratio: 1/1;
  max-height: 150px;
  background-color: var(--item-background-color);
  border-radius: 1rem;
}

.detail-box {
  padding-left: 10px;
}

.quantity-container {
  display: flex;
  border-radius: 3px;
  gap: 10px;
  margin-left: 5px;
}

.quantity-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.count-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  opacity: 0.4;
  font-size: medium;
  cursor: pointer;
}
